/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #7c3aed;
}

body {
  /* font-family: "Work Sans", sans-serif */
  font-family: "Montserrat", sans-serif;
  background-color: #d4d4d4;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* main */

main {
  text-align: center;
  margin: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 2rem;
}

label {
  display: block;
  font-size: 1.5rem;
  /* font-weight: 600; */
}

input {
  font-size: 1.2rem;
  outline: #fff;
  padding: 0.6rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#show-btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  margin-top: 1rem;
  display: block;
}

#prev-palindrome,#next-palindrome {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.link {
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.no-list-style {
  list-style: none;
}

.no-list-style li {
  font-weight: 100;
  font-size: 1.2rem;
  display: inline-block;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: var(--primary-color);
  padding: 0.7rem;
  color: white;
}

.footer-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-copyright {
  margin: 0.5rem 0;
}
